.header__lang-link {
    margin: 0;
    padding: 0;
    font-family: "InterRegular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #FFFFFF;
    background: none;
    border: none;
    
}

@media screen and (max-width: 540px){
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
