.place {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;
    width: 100%;
    padding-bottom: 80px;
    grid-template-areas:
      "title website"
      "image paragraph";
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    padding-bottom: 50px;
    display: block;
    max-width: 320px;
  }
}

