.lead__title {
    max-width: 720px;
    margin: 0;
    text-align: center;
    font-family: 'InterBlack', sans-serif;
    font-weight: 900;
    line-height: 104%;
    font-size: 96px;
}

@media screen and (max-width: 750px){
    .lead__title {
      font-size: 80px;
      max-width: 90%;
     }
  }
  
  @media screen and (max-width: 640px){
    .lead__title {
      font-size: 60px;
    }
  }
  
  @media screen and (max-width: 470px){
    .lead__title {
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .lead__title {
      font-size: 40px;
      line-height: 110%;
    }
  }