.cover__overlay {
    background-color: #2A2C2F;
    z-index: 0;
    opacity: 0.3;
    transition: opacity 0.5s 0.1s ease;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
  }