@font-face { 
    font-family: "InterRegular";
    src: url("../vendor/fonts/InterRegular/InterRegular.eot");
    src: url("../vendor/fonts/InterRegular/InterRegular.eot?#iefix")format("embedded-opentype"),
    url("..vendor/fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../vendor/fonts/InterRegular/InterRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "InterBold";
    src: url("../vendor/fonts/InterBold/InterBold.eot");
    src: url("../vendor/fonts/InterBold/InterBold.eot?#iefix")format("embedded-opentype"),
    url("../vendor/fonts/InterBold/InterBold.woff") format("woff"),
    url("../vendor/fonts/InterBold/InterBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "InterBlack";
    src: url("../vendor/fonts/InterBlack/InterBlack.eot");
    src: url("../vendor/fonts/InterBlack/InterBlack.eot?#iefix")format("embedded-opentype"),
    url("../vendor/fonts/InterBlack/InterBlack.woff") format("woff"),
    url("../vendor/fonts/InterBlack/InterBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}