.place__website {
    margin: 0 0 48px;
    padding: 0;
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    grid-area: website;
    align-self: end;
  }

  @media screen and (max-width: 768px) {
    .place__website {
      max-width: 352px;
    }
  }

  @media screen and (max-width: 600px) {
    .place__website {
      margin: 0 0 0 16px;
      max-width: 288px;
    }
  }